.introduccion {
    min-height: 200px;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  .grid-index {
    display: grid;
    justify-content: center;
    grid-template-areas: "talampaya" "glaciar" "valle" "cataratas";
  }
  
  .d2 {
    background-image: url(../imagenes/talampaya2.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .abajo--izquierda {
    margin: 16rem 0 0 5rem;
  }
  
  .d3 {
   @extend .d2; 
    background-image: url(../imagenes/glaciar.jpg);
  }
  
  .arriba--izquierda {
    margin: 0 0 0 5rem;
  }
  
  .info-lugares {
    width: 80%;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    padding: 5px;
    border-radius: 0.7rem;
    text-align: center;
    margin: 2rem;
  }
  
  .boton-info {
    margin: 0 0 0 2rem;
    padding: 0.5rem;
    font-family: "Poppins", sans-serif;
    border-radius: 3px;
    background-color: #000000;
    color: #ddd;
    text-decoration: none;
                &:hover{color: rgb(0, 0, 0);
                    background-color: rgb(255, 255, 255);
                    transition: 1s;}

  }
  
  .d4 {
    @extend .d2;
    background-image: url(../imagenes/Valledelaluna.jpg);
    
  }
  
  .d5 {
    @extend .d2;
    background-image: url(../imagenes/cataratas2.jpg);
  }

  .titulo-centrado {
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #ddd;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
    padding-top: 8%;
  }

  #s1 {
    background-image: url(../imagenes/Cataratas1.jpg);
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
  }