@mixin secciones-text {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

$size: (
  h1:4rem,
  h2:1.5rem,
  p:1.3rem,
);

.seccion-lugares--h1{
    margin: 0;
    text-align: center;
    font-size:map-get($size,h1);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #ddd;
    -webkit-text-stroke: rgb(0, 0, 0) 2px;
    padding-top: 1rem;
  }
  
  .seccion-lugares--h2 {
    @include secciones-text;
    font-size: map-get($size,h2);
    padding: 2rem 0 2rem 0;
    font-weight: bold;
  }
  
  .seccion-lugares--p {
    @include secciones-text;
    padding-top: 2rem;
    line-height: 2rem;
    margin: auto;
    font-size: map-get($size,p);
  }

.talampaya {
    background-image: url(../imagenes/talampaya2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .glaciar {
    @extend .talampaya;
    background-image: url(../imagenes/glaciar4.jpg);
  }
  
  .valle {
    @extend .talampaya;
    background-image: url(../imagenes/Valledelaluna5.jpg);
  }
  
  .cataratas {
    @extend .talampaya;
    background-image: url(../imagenes/Cataratas1.jpg);
  }

  .seccion-lugares {
    background-color: #000000;
  }

  .mapa {
    display: block;
    margin: 2rem auto;
    width: 70%;
    height: 400px;
  }
  
  .img-lugares {
    display: block;
    margin: 3rem auto;
    width: 90%;
  }
  
  .ul-img-lugares {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    color: white;
    justify-content: center;
  }
  
  .ul-img-lugares--li {
    margin: 3rem;
    list-style: none;
    width: 30rem;
  }

  .carousel_width {
    margin: auto;
    width: 90%;
  }