@import "navbar";
@import "index";
@import "contacto";
@import "secciones";

  .poppins {
    font-family: "Poppins", sans-serif;
  } 
  
  .barra {
    padding-left: 0;
    list-style: none;
    position: fixed;
    top: 50%;
    height: 400px;
    width: 5%;
    border-radius: 30px;
    z-index: 100;
  }
  
  
  p {
    color: #ddd;
    line-height: 150%;
  }
  
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: center;
  }
  
  .footer {
    font-family: "Poppins", sans-serif;
    height: 3rem;
    background-color: #000000;
    border-top: 0.2rem solid rgb(55, 55, 56);
  }
  
  .bar-icon {
    width: 80%;
    margin: 15%;
    min-width: 2rem;
  }
  
  .footer--p {
    font-size: 1rem;
    color: #ddd;
  }
  
  h1 {
    color: #f1f1f1;
  }
  
  h2 {
    color: #f1f1f1;
  }
  
  .animate__animated.animate__bounceInRight {
    --animate-duration: 2.5s;
  }
  
  .animate__animated.animate__fadeIn {
    --animate-duration: 2.5s;
  }
  
  .animate__animated.animate__bounceInUp {
    --animate-duration: 2.5s;
  }
  
  .animate__animated.animate__bounceInDownt {
    --animate-duration: 2.5s;
  }
  
  @media screen and (min-width: 1024px) {
    .sticky-nav {
      position: sticky;
      top: 0;
    }
  
    .img-logo {
      margin-left: 1rem;
    }
  
    .abajo--izquierda {
      margin: 33rem 0 0 5rem;
    }
  
    .seccion-lugares {
      width: 85%;
      margin: auto;
    }
  
    #s1 {
      height: 54rem;
    }
  
    .seccion-lugares--p {
      padding: 0 5rem;
    }
  
    .barra {
      width: 4%;
    }
  
    .div_lugares {
      border-right: 1px solid white;
    }
  }
  