.sticky-nav {
    position:sticky;
    top:0;
    width: 100%;
    height:auto;
    z-index: 100;
}

.navbar{    
    display: flex;
    justify-content: center;
    background-image:linear-gradient(rgb(0, 0, 0),rgb(62, 62, 62));
    z-index:100;
    border-bottom: 0.2rem solid rgb(55, 55, 56);
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.img-logo {
    width:3rem;}

.barra{
    padding-left: 0;
    list-style: none;
    position:fixed;
    top: 50%;
    height: 400px;
    width: 5%;
    border-radius:30px;
    z-index: 100;
}
#s1{
    background-image: url(../imagenes/Cataratas1.jpg);
    width: 100%;
    height: 35rem;
    background-repeat: no-repeat;
    
}

.introduccion {
    min-height:200px;
    text-align: center;
    font-size: 2em;
    padding:1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}



p{color: #ddd;
    line-height: 150%;
}

.flex-row {
    display:flex;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: center;
}

.grid-index {
    display: grid;
    justify-content: center;
    grid-template-areas:
    "talampaya"
    "glaciar"
    "valle"
    "cataratas"    
    ;
    
}

.d2{
    background-image: url(../imagenes/talampaya2.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size:cover;
}
.abajo--izquierda {
    margin: 16rem 0 0 5rem;
}

.d3{
    background-image: url(../imagenes/glaciar.jpg);    
    height: 50rem; 
    background-repeat: no-repeat;
    background-size: cover;
}

.arriba--izquierda {
                margin:0 0 0 5rem;
        }

.info-lugares   {width: 80%;
                font-family: 'Poppins', sans-serif;
                background-color: rgb(0, 0, 0);
                opacity: 0.9;
                padding:5px;
                border-radius: 0.7rem;
                text-align: center;
                margin: 2rem;
}

.boton-info {
    margin:0 0 0 2rem;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    background-color: #000000;
    color: #ddd;
    text-decoration: none;
}

.boton-info:hover {color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.d4{
    background-image: url(../imagenes/Valledelaluna.jpg);
    
    height: 50rem; 
    background-repeat: no-repeat;
    background-size: cover;
}

.d5{
    background-image: url(../imagenes/cataratas2.jpg);
    height: 50rem; 
    background-repeat: no-repeat;
    background-size: cover;
}

.footer{
        font-family: 'Poppins', sans-serif;
        height:3rem;
        background-color:#000000;
        border-top:0.2rem solid rgb(55, 55, 56);
}

  .bar-icon {width: 80%;
            margin:15%;
            min-width: 2rem;
    }

    .titulo-centrado {
        margin:0;
        text-align: center;
        font-size:4rem;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        color:#ddd;
        -webkit-text-stroke: rgb(0, 0, 0) 2px;
        padding-top:8%
        

    }

.footer--p {
        font-size: 1rem;
        color: #ddd;
    }

.form {
    text-align: center;
    font-family:sans-serif;
    font-size: 1rem;
    line-height:3rem;
    min-width: 15rem;
    border-radius: 4%;
    padding:1rem;
    margin: 2rem;
    background-color: #9fa79f;
    border: 3px solid black;
    }

.form--div {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 2rem;
}

.form--input {
    width:100%;
    border:none;
    border-bottom:3px solid #000000;
    background:transparent;
}

.contacto{
    background-image: linear-gradient(rgb(121, 117, 117),rgb(0, 0, 0));
}

.contacto--section--div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem;
}

.form input[type="submit"] {
    background-color:#f1f1f1;
    border-bottom:none;
    padding:1rem;
}

.form--input:focus {
    background-color: #ddd;
    outline:none;
}

.form input[type="submit"]:hover {
    background-color:#f1f1f15d;
}

.form textarea {
    font-family: 'Poppins', sans-serif;
    min-height: 10rem;
    resize:none;
}

.talampaya {background-image:url(../imagenes/talampaya2.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size:cover;
            background-repeat: no-repeat;
}

.glaciar {background-image:url(../imagenes/glaciar4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.valle {background-image:url(../imagenes/Valledelaluna5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

.cataratas {background-image:url(../imagenes/Cataratas1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

h1{color: #f1f1f1;}

h2{color: #f1f1f1;}

.seccion-lugares {
    background-color: #000000;
}

.seccion-lugares--h1 {
    margin:0;
    text-align: center;
        font-size:4rem;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        color:#ddd;
        -webkit-text-stroke: rgb(0, 0, 0) 2px;
        padding-top:1rem;
}

.seccion-lugares--h2 {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0;
    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}

.seccion-lugares--p {
    padding-top:2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 2rem;
    margin:auto;
    font-size: 1.3rem;
}

.mapa {display:block;
    margin:2rem auto;
    width: 70%;
    height: 400px;
}

.img-lugares {
    display:block;
    margin:3rem auto;
    width:90%;}

.ul-img-lugares {
    display:flex;
    flex-flow: row wrap;
    align-content: space-between;
    color:white;
    justify-content: center;
}

.ul-img-lugares--li {
    margin:3rem;
    list-style:none;
    width:30rem;}

.animate__animated.animate__bounceInRight{
    --animate-duration: 2.5s;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 2.5s;
}

.animate__animated.animate__bounceInUp{
    --animate-duration: 2.5s;
}

.animate__animated.animate__bounceInDownt{
    --animate-duration: 2.5s;
}

.carousel_width {
    margin:auto;
    width:90%;
}






@media screen and (min-width:1024px) {

.img-logo {
    margin-left: 1rem;
}

.abajo--izquierda {
    margin: 33rem 0 0 5rem;
}

.seccion-lugares {width:85%;
    margin:auto;
}

#s1 {height:54rem;
}

.seccion-lugares--p {padding:0 5rem;

}
.barra {
    width:4%;
}

}